<section class="section" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title">
                      Lea Nuestras Últimas Noticias
                    </h2>

                    <!-- Subheading -->
                    <p>
                       
En OASIS, consideramos un honor compartir con usted la valiosa experiencia que hemos acumulado a lo largo de nuestra trayectoria laboral.
                    </p>
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-box">
                    <div class="blog-img-box">
                        <img src="images/blog/blog-1.jpg" alt="" class="img-fluid blog-img">
                    </div>
                    <div class="single-blog">
                        <div class="blog-content">
                            <h6> 17 October 2018</h6>
                            <a href="#!">
                                <h3 class="card-title">Los beneficios para la salud de la tecnología del hogar inteligente</h3>
                            </a>
                            <p> La tecnología inteligente puede hacer más por una casa que ofrecer comodidad: puede mejorar potencialmente la salud y la calidad de vida de sus residentes. Obtenga más información sobre los beneficios para la salud de la tecnología del hogar inteligente.</p>
                            <a href="#!" class="read-more">Leer mas</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-box">
                    <div class="blog-img-box">
                        <img src="images/blog/blog-2.jpg" alt="" class="img-fluid blog-img">
                    </div>
                    <div class="single-blog">
                        <div class="blog-content">
                            <h6> 17 October 2018</h6>
                            <a href="#!">
                                <h3 class="card-title">Día del Padre 2023: 5 ideas de regalos brillantes para la estabilidad de la vejez de tu papá</h3>
                            </a>

                            <p>Este Día del Padre, celebremos a nuestros padres considerando regalos que contribuyan a su bienestar y ofrezcan apoyo para un futuro seguro y estable. En este artículo, exploraremos ideas de regalos bien pensadas destinadas a mejorar la estabilidad de la vejez de su padre.</p>
                             <a href="#!" class="read-more">Leer mas</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-8">
                <div class="blog-box">
                    <div class="blog-img-box">
                        <img src="images/blog/blog-3.jpg" alt="" class="img-fluid blog-img">
                    </div>
                    <div class="single-blog">
                        <div class="blog-content">
                            <h6> 17 October 2018</h6>
                            <a href="#!">
                                <h3 class="card-title">Automatizar el cuidado de los ancianos</h3>
                            </a>
                            <p>El número de personas mayores que requieren atención está aumentando rápidamente, al igual que el costo de cuidarlas. Al mismo tiempo, Se espera que la ya gran escasez de trabajadores del cuidado empeore mucho durante la próxima década.</p>
                             <a href="#!" class="read-more">Leer mas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>