 <section id="work-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-heading">
                            <h1>Nuestro enfoque es la inovación continua.</h1>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p class="lead">Nos centramos en la busqueda de nuevos dispositivos para enriquecer nuestro catalogo de servicios y poderle brindar la mejor calidad a nuestros clientes. </p>
                    </div>
                </div>
            </div>
        </section>
    
        <section id="work" class="section-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="images/products/p-smartcane.jpeg" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Nuevos productos disponibles</h4>
                                <p>Baston inteligente</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="images/products/p-alarm.jpg" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Nuevo producto</h4>
                                <p>Alarma de segurida</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="images/products/p-hikvision.jpg" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Dispositivos wireless</h4>
                                <p>Hikvision, tu compañero en cualquier lugar.</p>
                                <a href="single-project.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-lg-3 col-md-6 p-0">
                        <div class="work-block">
                            <img src="images/products/p-weenect.jpg" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Dispositivos de accion rapida</h4>
                                <p>Boton de panico Weenect</p>
                                <a href="single-project.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>