<section class="section" id="process">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                            Nuestro continuo trabajo para cuidar a tus seres queridos
                        </h2>

                        <!-- Subheading -->
                        <p>
                            Oasis brinda distintos paquetes accesibles adaptados a las necesidades de cada cliente.
                        </p>

                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="images/proyectos/a-sj.jpg" alt="" class="img-fluid">

                        <h3>Proyecto de implementación Tunja</h3>
                        <p>Uno de nuestros compradores inciales es Asilo San José, en donde exploraron las ventajas que pueden traer los dispositivos IoT para el cuidado de sus residentes.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="images/proyectos/a-sj2.jpg" alt="" class="img-fluid">

                        <h3>Jornada de educación sobre dispositivos IoT destinados para la salud</h3>
                        <p>Nuestro programa de jornadas de aprendizaje está diseñado para brindar a los acompañantes una experiencia interactiva, donde podrán explorar y familiarizarse con nuestros dispositivos de manera didáctica y amena.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="images/process/process-3.jpg" alt="" class="img-fluid">

                        <h3>Development & delivery</h3>
                        <p>Nihil facere delectus eaque aut possimus nobis laudantium reprehenderit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
