<section class="section" id="services-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title mb-2 text-white">
                      Servicios seguros y asistenciales: Potenciando el cuidado en los ancianatos
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5 text-white">
                
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="ti-light-bulb"></i>
                    <h3>Monitoreo de la salud</h3>
                    <p> Sensores de movimiento y dispositivos de monitoreo para detectar caídas y enviar alertas a los cuidadores.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="ti-desktop"></i>
                    <h3>Dispensadores de medicamentos automatizados</h3>
                    <p>Sistemas que administran medicamentos según horarios programados y envían notificaciones a los residentes y personal médico.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="ti-announcement"></i>
                    <h3>Alertas médicas:</h3>
                    <p>Sensores y dispositivos de emergencia para solicitar ayuda médica rápida en caso de accidentes o problemas de salud.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="ti-layers-alt"></i>
                    <h3>Monitoreo ambiental</h3>
                    <p>Sensores de temperatura y humedad para garantizar condiciones de vida confortables y seguras.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="ti-mobile"></i>
                    <h3>Control de iluminación adaptativa</h3>
                    <p> Iluminación inteligente que se ajusta según las necesidades individuales de los residentes y mejora la seguridad y comodidad.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="ti-settings"></i>
                    <h3>Monitoreo del sueño</h3>
                    <p> Sensores y dispositivos de seguimiento del sueño para evaluar la calidad del descanso y brindar recomendaciones para mejorar el sueño.</p>
                </div>
            </div>
        </div>
    </div>
</section>
