<section class="section" id="service">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 pl-4 text-center">
                <div class="service-heading">
                    <h1>Servicios personalizados: Simplificando la vida en el hogar</h1>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="service-block media">
                    <div class="service-icon">
                        <i class="ti-reload"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>Automatización del hogar</h4>
                        <p>Control remoto de luces, persianas, termostatos y electrodomésticos para mayor comodidad y eficiencia energética.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 mb-3 col-md-6">
                <div class="service-block media">
                    <div class="service-icon">
                        <i class="ti-cloud"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>Gestión de medicamentos</h4>
                        <p>El sistema puede incluir recordatorios de medicamentos y dispensadores automáticos que ayuden a los adultos mayores a tomar sus medicamentos de manera adecuada y a tiempo. </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 mb-3 col-md-6">
                <div class="service-block media ">
                    <div class="service-icon">
                        <i class="ti-world"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>Seguridad inteligente</h4>
                        <p>Sistemas de vigilancia con cámaras y alarmas conectadas para proteger el hogar.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 mb-3 col-md-6">
                <div class="service-block media ">
                    <div class="service-icon">
                        <i class="ti-desktop"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>Asistentes virtuales</h4>
                        <p>Integración de asistentes de voz para realizar tareas, obtener información y controlar dispositivos con comandos de voz.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="service-block media">
                    <div class="service-icon">
                        <i class="ti-light-bulb"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>Control de energía</h4>
                        <p>Monitoreo y control del consumo de energía, permitiendo un uso más eficiente y reduciendo los costos.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="service-block media">
                    <div class="service-icon">
                        <i class="ti-server"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>Salud y bienestar</h4>
                        <p> Integración de dispositivos de monitoreo de actividad física y sueño para promover un estilo de vida saludable.</p>
                    </div>
                </div>
            </div>
        </div>   
        
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="pl-3">¿Quieres saber más sobre esto? <a href="#!">Contact us</a></p>
            </div>
        </div>    
    </div>
</section>
